Source: ubudroid-server
Section: utils
Priority: optional
Maintainer: Ubuntu MOTU Developers <ubuntu-motu@lists.ubuntu.com>
XSBC-Original-Maintainer: Karl Ostmo <kostmo@gmail.com>
Standards-Version: 3.8.1
Build-Depends: debhelper (>= 5), python, cdbs (>= 0.4.49)
Build-Depends-Indep: perl, python-support (>= 0.5.3)
XB-Python-Version: ${python:Versions}
Homepage: http://androbuntu.googlecode.com/

Package: ubudroid-server
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-gtk2, xautomation
Suggests: exaile, ppower | bottlerocket, festival
Description: server applet for AndroBuntu/UbuDroid Android application
 ubudroid is an application to allow an Android handset to interact with the
 Ubuntu desktop.  The client application provides interfaces for media control,
 X10 home automation, and custom user scripts.

