#!/usr/bin/env xdg-open
[Desktop Entry]
Name=UbuDroid Server Utility
Comment=Responds to Android commands
Exec=ubudroid-server.py
Terminal=false
Type=Application
Icon=ubudroid-server
Categories=GTK;GNOME;Network;RemoteAccess;
